{% load static %}
    <!-- footer -->
    <div class="footer container">
    	<div class="footer_about">
    		<div class="footer_about_headline">
    			Кинотеатр
    		</div>
    		<a href="#" class="footer_about_element link">Текст</a>
    		<a href="#" class="footer_about_element link">Текст</a>
    		<a href="#" class="footer_about_element link">Текст</a>
    		<a href="#" class="footer_about_element link">Текст</a>
    		<a href="#" class="footer_about_element link">Текст</a>
    	</div>
    	<div class="footer_contacts">
    		<div class="footer_about_headline">
    			Контакты
    		</div>
    		г. Хабаровск, ул. Пушкина 01, ТЦ «Ultra» (3 этаж)<br>
			Будни 10:00-00:00<br>
			Выходные 10:00-01:00<br><br>
			Email: <a href="mailto:info@kinoman.ru" class="link">info@kinoman.ru</a><br>
			Телефон: <a href="tel:88000000000" class="link">8 (800) 000-00-00</a>
    	</div>
    	<div class="footer_created-by">
    		Code by: <a href="https://instagram.com/thedronit.dev" class="link">thedronit</a>
    	</div>
    </div>
    <!-- footer END -->